<h1>Welcome to Favorite Poems</h1>

<%= link_to "Sign Up", signup_path %> |
<%= link_to "Log In", '/login' %> |
<%= link_to "Log In With Google", '/auth/google_oauth2'%>

<p>This is a website where you can submit your favorite poem. All you have to do is <a href="/signup">Sign Up</a>