<h1>Welcome to Favorite Poems</h1>



<p>This is a website where you can submit your favorite poem and share your thoughts about the poem or maybe you can submit your own poem! Poems can transform words into something magical! Poems have been around since a long time and are still popular.



All you have to do is <a href="/signup">Sign Up,</a>to add your favorite poems or just read the poems on this website and write a review.