<h2><%= @comment.content%> - <%= @comment.user.name%></h2>

<% if @comment.user == current_user %>
  <%#= link_to "Edit Comment", edit_comment_path(@comment), class: "btn btn-warning"%>
   <%= link_to "Edit Comment", edit_poem_comment_path(@comment.poem, @comment), class: "btn btn-warning"%>
  
<% end %>

<h4>Go back to poem:<%= link_to @comment.poem.title, poem_path(@comment.poem_id) %></h4>  